body{
  background-color:white
}

iframe{
  width:50%;
  height:800px;
  margin-left:20px;
  border:none;
  overflow:hidden;
  display:inline-block;

}




.frame2{
  width:80%;
  height:100%;
  border:none;
  align: right;
  margin-left:800px;
  margin-top:-805px
}
