

h1{color:hotpink; font-size:125px;
}
h1{font-family:"copperplate"; text-align: right;}

body{background-color: lightcyan;}

a{font-size:25px;margin-left:1300px;margin-top:-140px}


h2{color:hotpink; font-size:125px; text-align: left;}
h2{font-family:"copperplate";}

h3{font-size:25px; text-align: right;}


h4{font-size:25px; text-align: right;}


h6{font-size:25px; text-align: right; margin-top:-140px}


h5{font-size:25px; text-align: left;font-family:"copperplate"; margin-top:-300px}

p{font-size:25px; text-align: right; margin-top:-140px}
