


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


a{color:hotpink}
h1{color:hotpink}






body{

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: sans-serif;

    background-color: #f1f1f1;


}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hotpink;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: pink;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);


}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);



}


.container .card .slide.slide2 .content
h5 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 20px;

    text-align: ;

    margin-left:-30px

    color: hotpink;

    font-family: "copperplate"



}











body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: sans-serif;

    background-color: lightblue;

}

.container2 .card .icon {

    position: absolute;

    top: 0;


    left: 0;

    width: 100%;

    height: 100%;

    background: hotpink;

}

.container2 .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container2 .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container2 .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container2 .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container2 .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);


}

.container2 .card:hover .slide.slide2{

    transform: translateY(0);

}

.container2 .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);


}

.container2 .card .slide.slide2 .content

h1 {

    margin: 0;

    padding: 0;

    text-align: center;

    color: hotpink;

    font-size: 20px;

    font-family: "copperplate"

}

.container2 .card .slide.slide2 .content

h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 20px;

    text-align: center;


    font-family: "copperplate"


}






















body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: left;

    justify-content: left;

    font-family: sans-serif;

    background-color: lightblue;

}

.container3 .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hotpink;

}

.container3 .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: hotpink;

}

.container3 .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container3 .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container3 .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container3 .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);


}

.container3 .card:hover .slide.slide2{

    transform: translateY(0);

}

.container3 .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);


}



.container3 .card .slide.slide2 .content

h4 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 20px;

    text-align: center;

    color: hotpink;

    font-family: "copperplate"


}


















body{

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: left;

    justify-content: left;

    font-family: sans-serif;

    background-color: #f1f1f1;


}

.container4 .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hotpink;

}

.container4 .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: pink;

}

.container4 .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container4 .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container4 .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container4 .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);


}

.container4 .card:hover .slide.slide2{

    transform: translateY(0);

}

.container4 .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);



}


.container4 .card .slide.slide2 .content
h6 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 20px;

    text-align: center;

    color: hotpink;

    font-family: "copperplate"


}
















body{

    margin: 0;

    padding: 0;

    min-height: 100vh;

    display: flex;

    align-items: left;

    justify-content: left;

    font-family: sans-serif;

    background-color: #f1f1f1;


}

.container5 .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: hotpink;

}

.container5 .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: pink;

}

.container5 .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container5 .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container5 .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container5 .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);


}

.container5 .card:hover .slide.slide2{

    transform: translateY(0);

}

.container5 .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);



}

.container5 .card .slide.slide2 .content
h2 {

    margin: 0;

    padding: 0;

    margin-right:50px;

    text-align: center ;

    color: hotpink;

    font-size: 20px;

    font-family: "copperplate"


}









body{background-color: lightcyan;
    overflow:hidden;

}




p{
  font-size: 25px;
  font-family: "copperplate";
  margin-left: 200px;
  color: dimgray;
  font-weight: bolder;

}
