body{background-color: lightskyblue;}
h1{color:hotpink; font-size:30px; font-family: "helvetica"; margin-left:350px; margin-top:200px}
h1:hover{background-color:greenyellow;}
a{color:lightskyblue; font-size:12px;}


h2{color:greenyellow;font-size:30px; font-family: "helvetica"; margin-left:650px; margin-top:-55px}
h2:hover{background-color:hotpink;}

h3{color:hotpink;font-size:30px; font-family: "helvetica"; margin-left:950px; margin-top:-55px}
h3:hover{background-color:greenyellow;}



h4{color:greenyellow;font-size:30px; font-family: "helvetica"; margin-left:350px; margin-top:50px}
h4:hover{background-color:hotpink;}
