body{
  background-color: hotpink;
  color:greenyellow;
  font-size: 100px;
  overflow: hidden;

}





#outer{
    height:;
    margin-right:10px;
    top:;
    animation-duration: 6s;
    animation-name: spinType;
    animation-iteration-count: infinite;

  }





@keyframes spinType {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inner{
  height:;
  margin-left:;
  margin-top:-1500px;
  animation-duration: 5s;
  animation-name: spinType;
  animation-iteration-count: infinite;

}
