body{
  background-color: lightcyan
}

a{
  margin-left: 65px;

}

.i1{
  text-align: center;
  margin-top:175px;
  margin-left:-50px
}


.i2{
  text-align: center;
  margin-top:100px;
  margin-left:-50px

}
