body{
  background-color: mediumaquamarine
}

a{
  margin-left: 65px;

}

.i1{
  text-align: center;
  margin-top:185px;
  margin-left:-50px
}


.i2{
  text-align: center;
  margin-top:100px;
  margin-left:-50px

}

body{
background-image: url("file:///Users/nakamurarisa/Desktop/Risa-cif22/nakar803.github.io/assets/imgs/iback.png");
background-repeat: no-repeat;background-size:100%; background-color:mediumaquamarine
}
