body{
  background-color: lightcyan
}

a{
  margin-left: 65px;

}

.o1{
  text-align: center;
  margin-top:170px;
  margin-left:-40px

}


.o2{
  text-align: center;
  margin-top:100px;
  margin-left:-40px

}
