body{
  background-color: lemonchiffon
}

a{
  margin-left: 65px;

}


.u1{
  text-align: center;
  margin-top:350px;
  margin-left:-50px;
}


body{
background-image: url("file:///Users/nakamurarisa/Desktop/Risa-cif22/nakar803.github.io/assets/imgs/uback.png");
background-repeat: no-repeat;background-size:100%; background-color:lemonchiffon
}
