
  .star-one {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: gold;
    width: px;
    height: px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(35deg)scale(40%);;
  }
  .star-one:before {
    border-bottom: 80px solid gold;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 1px;
    width: 1px;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-one:after {
    position: absolute;
    display: block;
    color: gold;
    top: 3px;
    left: -105px;
    width:1px;
    height: 1px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .star-one {margin-left:850px;margin-top:300px;}

.star-one {
  transition: transform 1s ease-in-out;
}

.star-one:hover {
  transform: rotate(360deg);

}

img.one{margin-left:900px;margin-top:160px}

  body{margin-left:300px; margin-top:-35px;
  background-image: url("https://nakar803.github.io/assets/imgs/entry3.png");
  background-repeat: no-repeat;background-size:100%; background-color:crimson
  }




  .star-two {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: gold;
    width: 1px;
    height: 1px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(35deg) scale(40%);

  }
  .star-two:before {
    border-bottom: 80px solid gold;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 1px;
    width: 1px;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-two:after {
    position: absolute;
    display: block;
    color: gold;
    top: 3px;
    left: -105px;
    width:1px;
    height: 1px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .star-two {margin-left:715px;margin-top:680px;}

  .star-two {
  transition: transform 1s ease-in-out;
  }

  .star-two:hover {
  transform: rotate(360deg);
  }



  .star-three {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: gold;
    width: 1px;
    height: 1px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(35deg) scale(40%);

  }
  .star-three:before {
    border-bottom: 80px solid gold;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 1px;
    width: 1px;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-three:after {
    position: absolute;
    display: block;
    color: gold;
    top: 3px;
    left: -105px;
    width:1px;
    height: 1px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .star-three {margin-left:15px;margin-top:300px;}

.star-three {
  transition: transform 1s ease-in-out;
}

.star-three:hover {
  transform: rotate(360deg);
}


.star-four {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: gold;
  width: 1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(35deg)scale(40%);

}
.star-four:before {
  border-bottom: 80px solid gold;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 1px;
  width: 1px;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-four:after {
  position: absolute;
  display: block;
  color: gold;
  top: 3px;
  left: -105px;
  width:1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-four {margin-left:-130px;margin-top:50px;}

.star-four {
transition: transform 1s ease-in-out;
}

.star-four:hover {
transform: rotate(360deg);
}





.star-five {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: gold;
  width: 1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(40%);

}
.star-five:before {
  border-bottom: 80px solid gold;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 1px;
  width: 1px;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: gold;
  top: 3px;
  left: -105px;
  width:1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-five {margin-left:-275px;margin-top:550px;}

.star-five {
transition: transform 1s ease-in-out;
}

.star-five:hover {
transform: rotate(360deg);
}


.star-six {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: gold;
  width: 1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(40%);

}
.star-six:before {
  border-bottom: 80px solid gold;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 1px;
  width: 1px;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-six:after {
  position: absolute;
  display: block;
  color: gold;
  top: 3px;
  left: -105px;
  width:1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-six {margin-left:165px;margin-top:550px;}

.star-six {
transition: transform 1s ease-in-out;
}

.star-six:hover {
transform: rotate(360deg);
}






.star-seven {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: gold;
  width: 1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(40%);

}
.star-seven:before {
  border-bottom: 80px solid gold;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 1px;
  width: 1px;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-seven:after {
  position: absolute;
  display: block;
  color: gold;
  top: 3px;
  left: -105px;
  width:1px;
  height: 1px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-seven {margin-left:450px;margin-top:50px;}

.star-seven {
transition: transform 1s ease-in-out;
}

.star-seven:hover {
transform: rotate(360deg);
}
