body{margin-left:450px; margin-top:-100px;
background-image: url("https://nakar803.github.io/assets/imgs/entry3.png");
background-repeat: no-repeat;background-size:100%; background-color: crimson
}



  #star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: crimson;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid crimson;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  #star-five:before {
    border-bottom: 80px solid crimson;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-five:after {
    position: absolute;
    display: block;
    color: crimson;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid crimson;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  #star-five{margin-left:1205px;margin-top:15px}
