body{
  background-color: hotpink
}


h1{
  font-size: 20px;
  color:lightcyan;

}


h2{
  font-size: 20px;
  color:lightcyan;

}

h3{
  font-size: 20px;
  color:lightcyan;

}

h4{
  font-size: 20px;
  color:lightcyan;

}

h5{
  font-size: 20px;
  color:lightcyan;

}
