h1{color:palegreen; font-size:20px;margin-top:300px;font-family:"copperplate"; text-align: center;}
h1:hover{background-color:hotpink}

h2{color:palegreen; font-size:20px;font-family:"copperplate";text-align: center;}
h2:hover{background-color:hotpink}

h3{color:palegreen; font-size:20px;font-family:"copperplate";text-align: center;}
h3:hover{background-color:hotpink}

h4{color:palegreen; font-size:20px;font-family:"copperplate"; text-align: center;}
h4:hover{background-color:hotpink}

h5{color:palegreen; font-size:20px;font-family:"copperplate"; text-align: center;}
h5:hover{background-color:hotpink}


a{color:mistyrose; font-size:12px;}
body{background-color: black;}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
