h1{color:palegreen; font-size:30px;font-family:"helvetica"; margin-left:625px;margin-top:200px}
h1:hover{background-color:hotpink}

h2{color:palegreen; font-size:30px;font-family:"helvetica"; margin-left:625px;margin-top:50px}
h2:hover{background-color:hotpink}

h3{color:palegreen; font-size:30px;font-family:"helvetica"; margin-left:625px;margin-top:50px}
h3:hover{background-color:hotpink}

h4{color:palegreen; font-size:30px;font-family:"helvetica"; margin-left:625px;margin-top:50px}
h4:hover{background-color:hotpink}

h5{color:palegreen; font-size:30px;font-family:"helvetica"; margin-left:625px;margin-top:50px}
h5:hover{background-color:hotpink}


a{color:mistyrose; font-size:12px;}
body{background-color: black;}
